
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $mainShadow; }
::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $darkGrey; }
::-webkit-scrollbar-corner { background: $mainColor; }
::-webkit-resizer { background: $darkGrey; }

html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFont; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: $mainColor $darkGrey;
}

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1, .h1 { font: bold 1.75rem/1.46 'Montserrat'; letter-spacing: .02em; }
h2, .h2 { font: 600 1.5rem/1.25 'Montserrat'; }
h3, .h3 { font: 600 1.125rem/1.45 'Montserrat'; }
// h4, .h4 { font: bold 1.44rem/1.2 'Montserrat'; }
// h5, .h5 { font: normal 1.2rem/1.2 'Montserrat'; }
// h6, .h6 { font: bold 1rem/1.2 'Montserrat'; }

p { font: normal .875rem/1.7 'Montserrat'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: all .3s ease-out; }
}

.container { width: 100%; margin: 0 auto; padding: 2rem 1rem; background: transparent; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $mobileWidth_md) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 2rem; grid-gap: 2rem; grid-template-columns: repeat(8, 1fr); }
  @media screen and (min-width: $laptopWidth) {}
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-template-columns: repeat(12, 1fr); }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; }
}

@media screen and (min-width: $desktopWidth) {
  h1, .h1 { font-size: 3rem; line-height: 1.37; }
  h2, .h2 { font-weight: bold; font-size: 3rem; }
  h3, .h3 { font-weight: 500; font-size: 2rem; line-height: 1.25; }

  p { font-size: 1rem; line-height: 1.5; }

  a:hover { color: $linkColor_hover; }
}


/* Form styles */
form {
  fieldset { display: flex; }

  label { margin-bottom: .5rem; color: $white; font: 600 .875rem/1.5 'Montserrat'; }
  textarea,
  input { width: 100%; border-radius: 12px; background: $paleGrey; color: $white; font: normal 1rem/1 'Montserrat';
    &::placeholder { color: $placeholder; }
    &:focus { background: $paleGrey; }
    &.error { background: $errorColor; }
  }
  textarea { min-height: 6rem; padding: .5rem 1rem; resize: none; }
  input { height: 4rem; padding: 0 1rem; }

  @media screen and (min-width: $desktopWidth) {
    label { font-size: 1rem; }
    input { font-size: 1.125rem; }
  }
}

.button {
  a { width: 100%; min-height: 3rem; border-radius: .75rem; padding: 0 1.25rem; background: $linkColor; color: $mainColor; font: 600 1rem/1.5 'Montserrat'; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:hover { color: $mainColor; }
  }

  &_entry a { background: $entryBackground; color: $white; }
  &_accent a { background: $accentColor; padding: .75rem 1.25rem; }
  &_link a { width: auto; padding: 0 4.625rem; background: $linkButton; justify-content: space-between;
    svg { width: 12px; height: 12px; margin-left: 1rem; stroke: $linkSvgColor; }
  }

  @media screen and (min-width: $desktopWidth) {
    a { width: auto; font-size: 1.125rem;
      &:hover { background: $linkColor_hover; color: $mainColor; }
    }

    &_auth a { min-height: 2.8125rem; padding: 0 2rem; }
    &_entry a { padding: 0 1.5rem;
      &:hover { background: $entryBackground_hover; }
    }
    &_accent a { padding: 1.25rem 4rem;
      &:hover { background: $accentColor_hover; }
    }
    &_link a:hover { background: $linkButton_hover; }
  }
}


/* Layout styles */
header { height: 0; background: $headerBackground; @include z('header');
  &.out { position: fixed; height: 3.125rem;
    .container { height: 3.125rem; padding: 0 1rem;
      .header {
        &-logo-government { display: none; }
        &-logo a { width: auto; height: auto; border-radius: 0; background: transparent;
          svg { width: 34px; height: 24px; }
        }
        &-menu-bar { display: flex; }
      }
    }
  }

  .container { height: 4.875rem; padding: 2.0625rem 1rem 0;
    .header { grid-column: 1 / 7; display: flex; justify-content: space-between;
      &-logo-government { display: flex;
        a img { width: 53px; height: 45px; }
      }
      &-logo { display: flex;
        a { width: 45px; height: 45px; border-radius: 50%; background: $logoGradient; display: flex; justify-content: center; align-items: center;
          svg { width: 34px; height: 20px; fill: $white; flex: none; }
        }
      }
      &-menu,
      &-auth { display: none; }
      &-menu-bar { display: none; align-items: center;
        a { display: flex; justify-content: center; align-items: center;
          svg { width: 24px; height: 24px; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { height: 5.0625rem; padding: 2.0625rem 2rem 0;
      .header { grid-column: 1 / 9;
        &-logo-government a img { width: 56px; height: 48px; }
        &-logo {
          a { width: 48px; height: 48px;
            svg { width: 35px; height: 24px; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { height: 5.625rem; padding: 0 2rem;
      .header { grid-column: 1 / 13; justify-content: flex-end; align-items: center;
        &-logo-government { position: absolute; left: 32px; top: 21px; }
        &-logo { position: absolute; top: 32px; right: 32px;
          a { width: auto; height: auto; border-radius: 0; background: transparent;
            &:hover svg { fill: $linkColor_hover; }

            svg { width: 36px; height: 26px; }
          }
        }
        &-menu { margin-right: 6.625rem; display: block;
          ul { display: flex;
            li {
              &:not(:last-child) { margin-right: 1.5rem; }

              a { color: $white; font-weight: 500; font-size: .875rem; text-transform: uppercase; letter-spacing: .02em;
                &:hover { color: $linkColor_hover; }
              }
            }
          }
        }
        &-auth { display: flex;
          .button {
            &:not(:last-child) { margin-right: 1rem; }

            a { font-weight: 500; }
          }
        }
      }
    }
  }

  @media screen and (min-width: $desktopWidth) { height: auto; }
}

main { @include z('main');
  .container {
    .content { grid-column: 1 / 7; }

    @media screen and (min-width: $tabletWidth) {
      .content { grid-column: 1 / 9; }
    }
    @media screen and (min-width: $desktopWidth) {
      .content { grid-column: 1 / 13; }
    }
  }
}

footer { background: $footerBackground; @include z('footer');
  .container { padding: 6.125rem 1rem 4.125rem;
    .footer { grid-column: 1 / 7;
      &__head { margin-bottom: 1.875rem; }

      &-logo { margin-bottom: 2.5rem; display: flex; align-items: center;
        &__name { font-weight: 600; font-size: 1.25rem; line-height: 1.1; text-transform: lowercase; }
        &__covid-free { margin-left: auto; border-radius: 12px; padding: .125rem 1rem .125rem .625rem; background: $logoGradient;
          img { width: 80px; height: 45px; }
        }

        svg { width: 65px; height: 35px; border-right: 1px solid $mainColor; margin-right: 1rem; padding-right: 1rem; fill: $mainColor; flex: none; }
      }
      &-social { display: flex;
        li {
          &:not(:last-child) { margin-right: .5rem; }

          a { width: 60px; height: 60px; border-radius: 50%; background: $white; display: flex; justify-content: center; align-items: center;
            svg { width: 32px; height: 32px; fill: $mainColor; flex: none; }
          }
        }
      }

      &-menu { margin-bottom: 1.875rem;
        ul { display: flex; flex-wrap: wrap;
          li { width: calc((100% - 1rem) / 2);
            &:nth-child(odd) { margin-right: 1rem; }
            &:nth-last-child(n + 3) { margin-bottom: 1.25rem; }

            a { color: $mainColor; font-weight: 600; text-transform: uppercase; }
          }
        }
      }
      &-link a { color: $mainColor; font-weight: 600; font-size: 1.125rem; text-transform: lowercase; }

      &-info { border-top: 1px solid $footerBorder; margin-top: 2.5rem; padding-top: 1.25rem;
        &-menu { margin-bottom: 1.25rem; display: flex; justify-content: center;
          ul { display: flex; flex-direction: column;
            li {
              &:not(:last-child) { margin-bottom: 1.25rem; }

              a { color: $softGrey; font-size: .875rem; }
            }
          }
        }
        &-copyright p { color: $softGrey; text-align: center; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.75rem 2rem 1.875rem;
      .footer { grid-column: 1 / 9;
        &-logo {
          &__covid-free { margin-left: 2rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .footer { grid-column: 1 / 13;
        &__head { margin-bottom: 3.375rem; display: flex; justify-content: space-between; }

        &-logo { margin: 0 2rem 0 0;
          &__name { font-size: 1.375rem; }
          &__covid-free { display: none; }

          svg { width: 72px; height: 40px; }
        }
        &-social li a:hover svg { transform: scale(1.2); }

        &__main { display: flex; justify-content: space-between; }

        &-menu { margin: 0 2rem 0 0;
          ul { flex-wrap: nowrap;
            li { width: auto;
              &:nth-child(odd) { margin: 0; }
              &:nth-last-child(n + 3) { margin: 0; }
              &:not(:last-child) { margin-right: 1.25rem; }

              a { font-weight: 500; font-size: .875rem;
                &:hover { color: $linkColor_hover; }
              }
            }
          }
        }
        &-link a:hover { color: $linkColor_hover; }

        &-info { margin-top: 1.75rem; padding-top: 1.75rem; display: flex;
          &-menu { margin: 0; justify-content: flex-start; order: 2;
            ul { flex-direction: row;
              li {
                &:not(:last-child) { margin: 0 1.25rem 0 0; }

                a { font-size: 1rem;
                  &:hover { color: $linkColor_hover; }
                }
              }
            }
          }
          &-copyright { margin-right: 2rem; order: 1;
            p { text-align: left; }
          }
        }
      }
    }
  }
}


/* Module styles */
@import 'module/select';
@import 'module/navigation';
@import 'module/menu';


/* Page styles */
@import 'page/index';
@import 'page/nav';
