extends include/main

block variables
  - let title = 'ММСО 2022'
  - let page = 'index'

block content
  section#index
    .container
      .index-bg
        .index-bg__left
        .index-bg__right
      .index-logo
        img(href='/image/logo.png' srcset='/image/logo@2x.png 2x' alt='Московский международный салон образования')
        .index-logo__covid-free
          img(src='/image/illustration/covid-free.svg' alt='COVID Free')
      .index.content
        .index__group
          .index__date 11 – 13 апреля 2022
          .index__city Москва
        .index__title
          .h1 Московский международный салон образования
        .index__place Гибридный формат «Крокус Экспо» | «ММСО.Коннект»
        .index__link
          .button.button_accent
            a(href='#' title='Стать партнером и экспонентом экосистемы ММСО')
              | Стать партнером
              br
              | и экспонентом экосистемы ММСО
          .button
            a(href='#' title='Зарегистрироваться') Зарегистрироваться
      .index-bunner
        .index-bunner__group
          .index-bunner__info Трансляция
          .index-bunner__date 21 февраля 17:00
        .index-bunner__group
          .index-bunner__title Public Talk
          .index-bunner__text
            p Минздрав России готовит рекомендации для поликлиник по созданию «единого облика»
  #program
    .container
      .program-bg
        .program-bg__image
          img(src='/image/illustration/back-to-the-future.png' srcset='/image/illustration/back-to-the-future@2x.png 2x' loading='eager' alt='illustration')
          img(src='/image/illustration/arrow.svg' alt='illustration')
          img(src='/image/illustration/back-to-the-future.png' srcset='/image/illustration/back-to-the-future@2x.png 2x' loading='eager' alt='illustration')
          img(src='/image/illustration/arrow.svg' alt='illustration')
        .program-bg__image.program-bg__image-2
          img(src='/image/illustration/back-to-the-future.png' srcset='/image/illustration/back-to-the-future@2x.png 2x' loading='eager' alt='illustration')
          img(src='/image/illustration/arrow.svg' alt='illustration')
          img(src='/image/illustration/back-to-the-future.png' srcset='/image/illustration/back-to-the-future@2x.png 2x' loading='eager' alt='illustration')
          img(src='/image/illustration/arrow.svg' alt='illustration')
      .program-bunner.content
        .program-bunner__title Тема ММСО 2022:
        .program-bunner__image
          img(src='/image/illustration/back-to-the-future.png' srcset='/image/illustration/back-to-the-future@2x.png 2x' loading='eager' alt='illustration')
        .program-bunner__name Назад в&nbsp;будущее
        .program-bunner__link
          a(href='#' target='_blank' title='Переход на манифест')
            | Переход на манифест
            img(src='/image/icon/arrow.svg' alt='icon')
      .program.content
        .program-preview
          p IХ Московский Международный Салон Образования – крупнейшее мероприятие в сфере образования в России: открытый форум и масштабная выставка технологий, инфраструктурных и интеллектуальных решений
        .program-info
          p
            b Насыщенная деловая программа с выступлениями более 1000 экспертов
            | , выставочная часть Салона с 150 экспонентами и гибридный формат проведения, привлекут к вопросам развития образования большое число заинтересованных лиц: 10 000 в офлайне в “Крокус Экспо” и 120 000 участников онлайн на платформе “ММСО.Коннект”.
          p Главным достоинством офлайн участия станет нетворкинг, возможность задать вопрос представителям власти и бизнеса, а также заключить выгодные партнерства и сотрудничества. Для онлайн участников платформа “ММСО.Коннект” - это не только трансляция деловой программы, но и возможность пообщаться со спикерами; посетить виртуальную выставку, пройтись по онлайн-стендам; ознакомиться с инновационными продуктами и решениями, скачать интересующие материалы;  воспользоваться акциями и получить реальные подарки от партнеров.
          p
            b Подключиться можно в любой момент.
          .program-info__link
            a.show-more(href='#' title='Читать ещё') Читать ещё
  section#registry
    .container
      .registry-bg
        .registry-bg__left
        .registry-bg__right
      .registry.content
        .registry
          .registry__title
            h2 Регистрация
          .registry__text
            p
              | Уже есть аккаунт? 
              a(href='#' title='Войдите') Войдите
          form.registry-form(name='registry' action='' autocomplete='off')
            fieldset.registry-form__line
              .registry-form__column
                label(for='surname') Фамилия
                input#surname(type='text' name='surname' required placeholder='Иванов' value='' title='Фамилия')
              .registry-form__column
                label(for='name') Имя
                input#name(type='text' name='name' required placeholder='Иван' value='' title='Имя')
            fieldset.registry-form__line
              .registry-form__column
                label(for='email') E-mail
                input#email(type='email' name='email' required placeholder='example@mail.com' value='' title='E-mail')
              .registry-form__column
                .select
                  label Место работы/учебы
                  input(type='hidden' name='job' required value='')
                  a.select-box#job(href='#' title='Место работы/учебы') Где вы работаете или учитесь
                  svg
                    use(href='/image/icon/chevron.svg#chevron')
                  .select-options(data-for='job')
                    .option(data-value='1') List Item 1
                    .option(data-value='2') List Item 2
                    .option(data-value='3') List Item 3
            fieldset.registry-form__line
              .registry-form__column
                .select
                  label Должность
                  input(type='hidden' name='position' required value='')
                  a.select-box#position(href='#' title='Должность') Кем вы работаете
                  svg
                    use(href='/image/icon/chevron.svg#chevron')
                  .select-options(data-for='position')
                    .option(data-value='1') List Item 1
                    .option(data-value='2') List Item 2
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
              .registry-form__button
                .button.button_send.button_disabled
                  a(href='#' title='Зарегистрироваться') Зарегистрироваться
  section#success
    .container
      .success.content
        .success__info
          p Благодарим за регистрацию на ММСО-2022!
  section#experts
    .container
      .experts.content
        .experts__title
          h2 Хэдлайнеры
        .experts-swiper.swiper
          ul.experts-list.swiper-wrapper
            - for (let i = 1; i <= 5; i++)
              li.experts-list__item.swiper-slide
                .experts-list__image
                  img(src='/image/expert/' + i + '.jpg' srcset='/image/expert/' + i + '@2x.jpg 2x' alt='image')
                .experts-list__icon
                  a.open-info(href='#' title='Посмотреть описание')
                    img(src='/image/icon/eye.svg' alt='icon')
                .experts-list__name
                  | Ольга
                  br
                  | Воротникова
                .experts-list-info
                  .experts-list-info__image
                    a.close-info(href='#' title='Скрыть описание')
                      img(src='/image/expert/' + i + '.jpg' srcset='/image/expert/' + i + '@2x.jpg 2x' alt='image')
                  .experts-list-info__text
                    p Эксперт по глобальному здравоохранению и биобезопасности, специалист по укреплению систем здравоохранения
          .swiper-button-prev
          .swiper-button-next
        .experts__link
          a(href='#' title='Все спикеры') Все спикеры
  section#top
    .container
      .news.content
        .news__title
          h2 ТОП продуктов
        .news-swiper.swiper
          ul.news-list.swiper-wrapper
            - for (let i = 1; i <= 3; i++)
              li.news-list__item.swiper-slide
                .news-list__image
                  img(src='/image/photo/top-1.jpg' srcset='/image/photo/top-1@2x.jpg 2x' alt='image')
                .news-list__info
                  .news-list__title
                    .h3 Минздрав России готовит рекомендации для поликлиник по созданию «единого облика»
                  .news-list__text
                    p Первый заместитель министра здравоохранения России Виктор Фисенко сообщил о подготовке методических рекомендаций по созданию «единого облика» первичного звена. Он отметил, что это позволит создать новую идеологию первичной помощи.
                  .news-list__button
                    .button.button_link
                      a(href='#' title='Подробнее')
                        | Подробнее
                        svg
                          use(href='/image/icon/link.svg#link')
          .swiper-button-prev
          .swiper-button-next
  #integration
    .container
      .integration-image.content
        img(src='/image/photo/1.jpg' srcset='/image/photo/1@2x.jpg 2x' alt='image')
      .integration.content
        .integration-logo
          img(src='/image/russian-ministry-of-health.jpg' srcset='/image/russian-ministry-of-health@2x.jpg 2x' alt='image')
          .integration-logo__name
            | Министерство здравоохранения
            br
            | Российской Федерации
        .integration__title
          h3 Минздрав России готовит рекомендации для поликлиник по созданию «единого облика»
        .integration__text
          p Первый заместитель министра здравоохранения России Виктор Фисенко сообщил о подготовке методических рекомендаций по созданию «единого облика» первичного звена. Он отметил, что это позволит создать новую идеологию первичной помощи.
        .integration__button
          .button.button_link
            a(href='#' title='Подробнее')
              | Подробнее
              svg
                use(href='/image/icon/link.svg#link')
  section#forecast
    .container
      .forecast.content
        .forecast__title
          h2 Прогноз аудитории ММСО 2022:
        ul.forecast-list
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title Управление образованием
            .forecast-list__percent 5%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title ВУЗ
            .forecast-list__percent 10%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title СПО
            .forecast-list__percent 10%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title Школа
            .forecast-list__percent 28%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title ДО
            .forecast-list__percent 5%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title ДДУ
            .forecast-list__percent 25%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title НКО
            .forecast-list__percent 2%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title ДПО
            .forecast-list__percent 5%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title Бизнес
            .forecast-list__percent 5%
          li.forecast-list__item
            .forecast-list__graph
            .forecast-list__title Родители
            .forecast-list__percent 5%
        ul.forecast-chart
          li.forecast-chart__item
            .forecast-chart__graph
              img(src='/image/chart/1.svg' alt='chart')
            .forecast-chart__info
              .forecast-chart__group
                .forecast-chart__decode
                .forecast-chart__text
                  p
                    b 10 000
                    |  человек в оффлайн на площадке Крокус Экспо
              .forecast-chart__group
                .forecast-chart__decode
                .forecast-chart__text
                  p
                    b 120 000+
                    |  человек в онлайн на платформе ММСО.Коннект
          li.forecast-chart__item
            .forecast-chart__graph
              img(src='/image/chart/2.svg' alt='chart')
            .forecast-chart__info
              .forecast-chart__group
                .forecast-chart__decode
                .forecast-chart__text
                  p
                    b 20%
                    |  ЛПР (руководство организаций, муниципалитетов и регионов)
              .forecast-chart__group
                .forecast-chart__decode
                .forecast-chart__text
                  p
                    b 80%
                    |  Cотрудники, преподаватели, учащиеся, родители
  section#news
    .container
      .news.content
        .news__title
          h2 Новости
        .news-swiper.swiper
          ul.news-list.swiper-wrapper
            - for (let i = 1; i <= 3; i++)
              li.news-list__item.swiper-slide
                .news-list__image
                  img(src='/image/photo/top-1.jpg' srcset='/image/photo/top-1@2x.jpg 2x' alt='image')
                .news-list__info
                  .news-list__title
                    .h3 Минздрав России готовит рекомендации для поликлиник по созданию «единого облика»
                  .news-list__text
                    p Первый заместитель министра здравоохранения России Виктор Фисенко сообщил о подготовке методических рекомендаций по созданию «единого облика» первичного звена. Он отметил, что это позволит создать новую идеологию первичной помощи.
                  .news-list__button
                    .button.button_link
                      a(href='#' title='Подробнее')
                        | Подробнее
                        svg
                          use(href='/image/icon/link.svg#link')
          .swiper-button-prev
          .swiper-button-next
  #partners
    .container
      ul.partners.content
        li.partners__item.open
          a.open-list(href='#' title='Оргкомитет')
            | Оргкомитет
            svg
              use(href='/image/icon/chevron.svg#chevron')
          ul.partners-list
            - for (let i = 1; i <= 12; i++)
              li.partners-list__logo
                a(href='#' target='_blank' title='')
                  img(src='/image/logo/1.png' srcset='/image/logo/1@2x.png 2x' alt='image')
        li.partners__item
          a.open-list(href='#' title='Интеллектуальные партнёры')
            | Интеллектуальные партнёры
            svg
              use(href='/image/icon/chevron.svg#chevron')
          ul.partners-list
            - for (let i = 1; i <= 3; i++)
              li.partners-list__logo
                a(href='#' target='_blank' title='')
                  img(src='/image/logo/1.png' srcset='/image/logo/1@2x.png 2x' alt='image')
        li.partners__item
          a.open-list(href='#' title='Региональные партнёры')
            | Региональные партнёры
            svg
              use(href='/image/icon/chevron.svg#chevron')
          ul.partners-list
            - for (let i = 1; i <= 3; i++)
              li.partners-list__logo
                a(href='#' target='_blank' title='')
                  img(src='/image/logo/1.png' srcset='/image/logo/1@2x.png 2x' alt='image')
        li.partners__item
          a.open-list(href='#' title='Бизнес партнёры')
            | Бизнес партнёры
            svg
              use(href='/image/icon/chevron.svg#chevron')
          ul.partners-list
            - for (let i = 1; i <= 3; i++)
              li.partners-list__logo
                a(href='#' target='_blank' title='')
                  img(src='/image/logo/1.png' srcset='/image/logo/1@2x.png 2x' alt='image')
        li.partners__item
          a.open-list(href='#' title='Информационные партнёры')
            | Информационные партнёры
            svg
              use(href='/image/icon/chevron.svg#chevron')
          ul.partners-list
            - for (let i = 1; i <= 3; i++)
              li.partners-list__logo
                a(href='#' target='_blank' title='')
                  img(src='/image/logo/1.png' srcset='/image/logo/1@2x.png 2x' alt='image')
        li.partners__item
          a.open-list(href='#' title='Генеральные инфопартнёры')
            | Генеральные инфопартнёры
            svg
              use(href='/image/icon/chevron.svg#chevron')
          ul.partners-list
            - for (let i = 1; i <= 3; i++)
              li.partners-list__logo
                a(href='#' target='_blank' title='')
                  img(src='/image/logo/1.png' srcset='/image/logo/1@2x.png 2x' alt='image')
  section#movie
    .container
      .movie.content
        .movie__title
          h2 Как это было в 2021 году
        .movie__video
          iframe(src='https://www.youtube.com/embed/vdrWvoLgtSE?modestbranding=1&rel=0&controls=1' frameborder='0' allowfullscreen)
  section#registry-2
    .container
      .registry-bg
        .registry-bg__left
        .registry-bg__right
      .registry.content
        .registry
          .registry__title
            h2 Регистрация
          .registry__text
            p
              | Уже есть аккаунт? 
              a(href='#' title='Войдите') Войдите
          form.registry-form(name='registry' action='' autocomplete='off')
            fieldset.registry-form__line
              .registry-form__column
                label(for='surname') Фамилия
                input#surname(type='text' name='surname' required placeholder='Иванов' value='' title='Фамилия')
              .registry-form__column
                label(for='name') Имя
                input#name(type='text' name='name' required placeholder='Иван' value='' title='Имя')
            fieldset.registry-form__line
              .registry-form__column
                label(for='email') E-mail
                input#email(type='email' name='email' required placeholder='example@mail.com' value='' title='E-mail')
              .registry-form__column
                .select
                  label Место работы/учебы
                  input(type='hidden' name='job' required value='')
                  a.select-box#job(href='#' title='Место работы/учебы') Где вы работаете или учитесь
                  svg
                    use(href='/image/icon/chevron.svg#chevron')
                  .select-options(data-for='job')
                    .option(data-value='1') List Item 1
                    .option(data-value='2') List Item 2
                    .option(data-value='3') List Item 3
            fieldset.registry-form__line
              .registry-form__column
                .select
                  label Должность
                  input(type='hidden' name='position' required value='')
                  a.select-box#position(href='#' title='Должность') Кем вы работаете
                  svg
                    use(href='/image/icon/chevron.svg#chevron')
                  .select-options(data-for='position')
                    .option(data-value='1') List Item 1
                    .option(data-value='2') List Item 2
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
                    .option(data-value='3') List Item 3
              .registry-form__button
                .button.button_send.button_disabled
                  a(href='#' title='Зарегистрироваться') Зарегистрироваться
  section#success
    .container
      .success.content
        .success__info
          p Благодарим за регистрацию на ММСО-2022!
