extends include/main

block variables
  - let title = 'ММСО 2022'
  - let page = 'nav'

block content
  section#nav
    .container
      .nav-bg
        .nav-bg__left
        .nav-bg__right
      .nav.content
        .nav__title
          h1 Экосистема ММСО
        ul.nav-menu
          li
            a(href='#' title='Салон образования')
              svg
                use(href='/image/logo.svg#logo')
              span
                | Салон
                br
                | образования
          li
            a(href='#' title='Онлайн')
              svg
                use(href='/image/logo.svg#logo')
              span Онлайн
          li
            a(href='#' title='Коннект')
              svg
                use(href='/image/logo.svg#logo')
              span Коннект
        .nav__image
          img(href='/image/illustration/nav.png' srcset='/image/illustration/nav@2x.png 2x' alt='illustration')
      .nav-bunner.content
        .nav-bunner__group
          .nav-bunner__info Трансляция
          .nav-bunner__date 21 февраля 17:00
        .nav-bunner__group
          .nav-bunner__title Public Talk
          .nav-bunner__text
            p Минздрав России готовит рекомендации для поликлиник по созданию «единого облика»
