
$white                     : #ffffff;
$black                     : #000000;
$blue                      : #0058c0;
$yellow                    : #ffecde;
$darkGrey                  : #4f4f4f;
$softGrey                  : rgba(51, 51, 51, .5);
$paleGrey                  : rgba(255, 255, 255, .1);
$lightGrey                 : rgba(255, 255, 255, .7);
$snowWhite                 : #f2f2f2;

$pink                      : #ff81be;
$green                     : #12ecc2;
$flaxen                    : #ffdcc2;
$purple                    : #360a7d;

/* Font options */
$mainColor                 : #333333;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'Montserrat', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(51, 51, 51, .7);

/* Screen resolution */
$mobileWidth               : 320px;
$mobileWidth_md            : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 1184px;
$desktopWidth              : 1376px;
$desktopWidth_md           : 1600px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$backgroundColor           : #ffffff;
$linkColor                 : #ffdcc2;
$linkColor_hover           : #f2994a;
$linkSvgColor              : #0c193d;
$accentColor               : #dfccff;
$accentColor_hover         : rgba(223, 204, 255, .7);
$errorColor                : rgba(255, 255, 255, .3);

$headerBackground          : rgba(54, 10, 125, .95);
$entryBackground           : rgba(255, 255, 255, .1);
$entryBackground_hover     : rgba(255, 255, 255, .7);
$logoGradient              : linear-gradient(90deg, #0098FF 0%, #9C59FF 100%);

$footerBackground          : #f4f5f6;
$footerBorder              : rgba(51, 51, 51, .2);

$placeholder               : rgba(242, 242, 242, .6);
$optionsColor              : #181920;
$optionsBackground_hover   : rgba(0, 88, 192, .07);
$optionsShadow             : 0 4px 20px rgba(133, 150, 170, .2);

$cardBackground            : #f4f5f6;
$viewBackground            : #18274f;
$expertsLinkColor          : #828282;
$arrowSliderShadow         : 0 0 16px rgba(0, 0, 0, .12);

$topText                   : #d3e1f6;
$linkButton                : #b8d1f6;
$linkButton_hover          : rgba(184, 209, 246, .7);
$topBlur                   : #1588dc;
$topBlur2                  : #760edf;

$registryGradient          : radial-gradient(59.89% 71.24% at 74.48% 0%, rgba(0, 255, 255, .8) 0%, rgba(0, 255, 211, .279374) 65.08%, rgba(0, 255, 187, 0) 100%),
  radial-gradient(61.22% 75.23% at 0% 93.7%, rgba(0, 255, 187, .8) 0%, rgba(0, 255, 119, 0) 100%),
  radial-gradient(62.47% 67.76% at 95.8% 100%, rgba(213, 0, 255, .7) 0%, rgba(255, 0, 170, 0) 100%, rgba(255, 0, 255, 0) 100%),
  rgba(3, 37, 255, .8);

$integrationBackground     : #ffe8d7;

$forecastText              : #2d2d2d;
$partnersBorder            : rgba(184, 184, 184, .4);

/* Nav */
$navShadow                 : 0 2px 14px rgba(0, 0, 0, .13);

$navBlue                   : #19b2ff;
$navGreen                  : #0de69d;
$navPurple                 : #9039ff;

$buttonGradient            : linear-gradient(95.14deg, rgba(242, 255, 251, 0.3) 16.12%, rgba(255, 255, 255, 0.1) 78.73%);
