
/* Menu */
#menu { position: fixed; left: 0; top: 49px; right: 0; bottom: 0; width: 100%; height: calc(100vh - 49px); opacity: 0; overflow: hidden; display: none; @include z('menu');
  .overlay { position: absolute; left: 0; top: 0; width: 100%; min-height: 100vh; background: $lightGrey;  overflow-x: hidden; @include z('menu-overlay'); }
  .menu { border-radius: 0 0 16px 16px; background: $headerBackground;
    .container { padding: 2.5rem 1rem 1.5rem;
      .mobile { grid-column: 1 / 7;
        &-menu { margin-bottom: 3.75rem;
          ul { display: flex; flex-wrap: wrap;
            li { width: calc((100% - 1rem) / 2);
              &:nth-child(odd) { margin-right: 1rem; }
              &:nth-last-child(n + 3) { margin-bottom: 1.25rem; }

              a { color: $white; font-weight: 600; text-transform: uppercase; }
            }
          }
        }
        &-social { margin-bottom: .75rem; display: flex;
          li {
            &:not(:last-child) { margin-right: .75rem; }

            a { width: 40px; height: 40px; border-radius: 50%; background: $white; display: flex; justify-content: center; align-items: center;
              svg { width: 22px; height: 22px; fill: $mainColor; flex: none; }
            }
          }
        }
        &-link a { color: $white; font-size: .875rem; text-transform: lowercase; }
      }

      @media screen and (min-width: $tabletWidth) { padding: 2.5rem 2rem 1.5rem;
        .mobile { grid-column: 1 / 9; }
      }
    }
  }
}
