
/* Swiper */
.swiper { position: relative; margin-left: auto; margin-right: auto; padding: 0; list-style: none;
  // overflow: hidden;

  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-vertical > .swiper-wrapper { flex-direction: column; }
.swiper-wrapper { position: relative; width: 100%; height: 100%; display: flex; box-sizing: content-box; transition-property: transform; z-index: 1; }
.swiper-android .swiper-slide,
.swiper-wrapper { transform: translate3d(0px, 0, 0); }
.swiper-pointer-events { touch-action: pan-y;
  &.swiper-vertical { touch-action: pan-x; }
}
.swiper-slide { position: relative; width: 100%; height: 100%; flex-shrink: 0; transition-property: transform; }
.swiper-slide-invisible-blank { visibility: hidden; }

/* Auto Height */
.swiper-autoheight {
  &,
  .swiper-slide { height: auto; }
  .swiper-wrapper { align-items: flex-start; transition-property: transform, height; }
}
.swiper-backface-hidden .swiper-slide { transform: translateZ(0); backface-visibility: hidden; }

/* 3D Effects */
.swiper-3d {
  &,
  &.swiper-css-mode .swiper-wrapper { perspective: 1200px; }
  .swiper-wrapper,
  .swiper-slide,
  .swiper-slide-shadow,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom,
  .swiper-cube-shadow { transform-style: preserve-3d; }
  .swiper-slide-shadow,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom { position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none; z-index: 10; }
  .swiper-slide-shadow { background: rgba(0, 0, 0, .15); }
  .swiper-slide-shadow-left { background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)); }
  .swiper-slide-shadow-right { background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)); }
  .swiper-slide-shadow-top { background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)); }
  .swiper-slide-shadow-bottom { background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)); }
}

/* Navigation */
.swiper-button-prev,
.swiper-button-next { position: absolute; top: -68px; width: 40px; height: 40px; box-shadow: $arrowSliderShadow; border-radius: 50%; background: $white; font-size: 0px; line-height: 0; cursor: pointer; z-index: 100;
  &::after { @include pseudo(); left: 10px; top: 10px; width: 20px; height: 20px; background: transparent url('/image/icon/arrow-slider.svg') center no-repeat; background-size: contain; }
  &.swiper-button-disabled { box-shadow: none; opacity: 0; cursor: auto; pointer-events: none; }
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next { left: 0; right: auto;
  &::after { transform: rotate(180deg); }
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev { left: auto; right: 0; }
.swiper-button-lock { display: none; }

@media screen and (min-width: $desktopWidth) {
  .swiper-button-prev,
  .swiper-button-next { top: 185px; width: 70px; height: 70px;
    &::after { left: 23px; top: 23px; width: 24px; height: 24px; }
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next { left: -35px; }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev { right: -35px; }
}
