
/* Select */
.select { position: relative; width: 100%; display: flex; flex-direction: column;
  &-box { height: 4rem; border-radius: 12px; padding: 0 3rem 0 1rem; background: $paleGrey; color: $placeholder; white-space: nowrap; display: flex; align-items: center;
    &:hover { color: $placeholder; }
    &:focus { color: $white;
      & + svg { stroke: $linkColor; transform: rotate(-180deg); }
    }

    & + svg { position: absolute; right: 16px; bottom: 27px; width: 18px; height: 10px; stroke: $white; transition: transform .3s linear; }
  }
  &-options { position: absolute; left: 0; bottom: 74px; width: 100%; max-height: 320px; box-shadow: $optionsShadow; border-radius: 12px; padding: .5rem; background: $white; color: $optionsColor; overflow: auto; display: none; flex-direction: column; @include z('select-options');
    &::-webkit-scrollbar { width: 4px; height: 4px; }
    &::-webkit-scrollbar-thumb { border-radius: 2px; }

    .option { height: 2.5rem; border-radius: 8px; padding: 0 1rem; font-weight: 500; font-size: .875rem; line-height: 1.25; white-space: nowrap; cursor: pointer; display: flex; align-items: center; flex: none;
      &:hover { background: $optionsBackground_hover; }
    }
  }

  @media screen and (min-width: $desktopWidth) {
    &-box { font-size: 1.125rem; }
  }
}
