-
  let menu = [
    { url: '#main', title: 'Главная' },
    { url: '#program', title: 'Программа' },
    { url: '#integration', title: 'Выставка' },
    { url: '#experts', title: 'Эксперты' },
    { url: '#news', title: 'Новости' },
    { url: '#partners', title: 'Пресса' }
  ]

footer
  .container
    .footer
      .footer__head
        .footer-logo
          svg
            use(href='/image/logo.svg#logo')
          .footer-logo__name
            | Салон
            br
            | образования
          .footer-logo__covid-free
            img(src='/image/illustration/covid-free.svg' alt='COVID Free')
        ul.footer-social
          li
            a(href='https://www.facebook.com/mmcoexpo/' target='_blank' title='Facebook')
              svg
                use(href='/image/icon/facebook.svg#facebook')
          li
            a(href='https://vk.com/mmcoexpo' target='_blank' title='ВКонтакте')
              svg
                use(href='/image/icon/vk.svg#vk')
          li
            a(href='https://www.instagram.com/mmcoexpo/' target='_blank' title='Instagram')
              svg
                use(href='/image/icon/instagram.svg#instagram')
          li
            a(href='tg://resolve?domain=mmcoexpo_official' title='Telegram')
              svg
                use(href='/image/icon/telegram.svg#telegram')
      .footer__main
        nav.footer-menu
          ul
            each link in menu
              li
                a.scroll-to(href=link.url title=link.title) #{ link.title }
        .footer-link
          a(href='mailto:info@mmco-expo.ru' title='Написать') info@mmco-expo.ru
      .footer-info
        nav.footer-info-menu
          ul
            li
              a(href='#' title='Политика конфиденциальности') Политика конфиденциальности
        .footer-info-copyright
          p &copy; 2014-2022, ММСО. Салон образования, официальный сайт
