-
  let menu = [
    { url: '#main', title: 'Главная' },
    { url: '#program', title: 'Программа' },
    { url: '#integration', title: 'Выставка' },
    { url: '#experts', title: 'Эксперты' },
    { url: '#news', title: 'Новости' },
    { url: '#partners', title: 'Пресса' }
  ]

header#main
  .container
    .header
      .header-logo-government
        a(href='#' target='_blank' title='Правительство Российской Федерации')
          img(src='/image/russian-government.svg' alt='Правительство Российской Федерации')
      .header-logo
        a(href='/' title='Московский международный салон образования')
          svg
            use(href='/image/logo.svg#logo')
      nav.header-menu
        ul
          each link in menu
            li
              a.scroll-to(href=link.url title=link.title) #{ link.title }
      .header-auth
        .button.button_auth
          a(href='#' title='Зарегистрироваться') Зарегистрироваться
        .button.button_auth.button_entry
          a(href='#' title='Войти') Войти
      .header-menu-bar
        a.open-menu(href='#' title='Открыть меню')
          svg
            use(href='/image/icon/menu.svg#menu')
