
/* Index page */
#index { background: $purple; overflow: hidden; @include z('index');
  .container { padding: 7.25rem 1rem 4.25rem;
    .index-bg,
    .index-logo,
    .index-bunner { display: none; }
    .index {
      &__group { margin-bottom: 1.3125rem; font-weight: 600; font-size: 1.125rem; line-height: 1.45; display: flex; justify-content: center; }
      &__date { color: $white; }
      &__city { position: relative; margin-left: 2.375rem; color: $white;
        &::before { @include pseudo; left: -22px; top: 9px; width: 6px; height: 6px; border-radius: 50%; background: $lightGrey; }
      }
      &__title { margin-bottom: 1.4375rem;
        h1, .h1 { color: $white; text-align: center; }
      }
      &__place { margin-bottom: 4.1875rem; color: $lightGrey; font-weight: 600; font-size: 1.125rem; line-height: 1.45; text-align: center; }
      &__link .button:not(:last-child) { margin-bottom: .875rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 7.25rem 2rem 6.6875rem;
      .index {
        &__link { display: flex; flex-direction: column; align-items: center;
          .button a { min-width: 375px; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding-top: 5.375rem;
      .index-bg { position: absolute; left: 0; top: 0; display: block; z-index: -1;
        &__left,
        &__right { position: relative;
          &::before,
          &::after { @include pseudo; border: 2px solid $paleGrey; border-radius: 50%; }
        }
        &__left {
          &::before { left: -48px; top: -236px; width: 540px; height: 540px; }
          &::after { left: -516px; top: -54px; width: 1018px; height: 1018px; }
        }
        &__right {
          &::before { left: 1300px; top: -336px; width: 975px; height: 975px; }
          &::after { left: 1462px; top: 274px; width: 650px; height: 650px; }
        }
      }
      .index-logo { grid-column: 1 / 3; display: flex; flex-direction: column;
        img { width: 133px; height: 133px; border-radius: 50%; margin-bottom: 1.375rem; flex: none; }

        &__covid-free { flex: none;
          img { width: 129px; height: 71px; border-radius: 0; margin: 0; }
        }
      }
      .index { grid-column: 3 / 10; position: relative; display: flex; flex-direction: column;
        &::before,
        &::after { @include pseudo; z-index: -1; }
        &::before { left: 270px; top: -193px; width: 634px; height: 650px; background: $topBlur2; filter: blur(250px); }
        &::after { left: -33px; top: 70px; width: 618px; height: 634px; background: $topBlur; filter: blur(300px); }

        &__group { margin: .5rem 0 1.9375rem; font-weight: 500; font-size: 2rem; line-height: 1.25; letter-spacing: .02em; justify-content: flex-start; order: 1; }
        &__city { margin-left: 5.5rem;
          &::before { left: -48px; top: 15px; width: 8px; height: 8px; }
        }
        &__title { margin-bottom: 3.25rem; order: 3;
          h1, .h1 { text-align: left; }
        }
        &__place { margin-bottom: 1.9375rem; font-size: 1.5rem; line-height: 1.25; text-align: left; letter-spacing: .02em; order: 2; }
        &__link { align-items: flex-start; order: 4;
          .button {
            &:not(:last-child) { margin: 0; }
            &:last-child { display: none; }

            a { min-width: auto; }
          }
        }
      }
      .index-bunner { grid-column: 10 / 13; min-height: 420px; border-radius: 32px; padding: 3.75rem 2.75rem; background: $registryGradient; display: flex; flex-direction: column; justify-content: space-between; align-self: flex-start;
        &__group { display: flex; flex-direction: column; align-items: center; }
        &__info { height: 1.875rem; border-radius: 15px; margin-bottom: .75rem; padding: .25rem 2rem .125rem; color: $white; font-weight: bold; backdrop-filter: blur(85px); }
        &__date { color: $white; font-weight: 600; font-size: 1.25rem; line-height: 1.2; }
        &__title { margin-bottom: 1rem; color: $white; font-weight: bold; font-size: 2.25rem; line-height: 1.2; text-align: center; }
        &__text p { color: $white; text-align: center; }
      }
    }
  }

  @media screen and (min-width: $desktopWidth) { border-radius: 0 0 64px 64px; }
}

#program { position: relative; border-radius: 18px 18px 0 0; margin-top: -18px; background: $backgroundColor;
  .container { padding: 3.25rem 1rem 2.375rem;
    .program-bg { display: none; }
    .program-bunner { margin-bottom: 1rem; display: flex; flex-direction: column; align-items: center;
      &__title { margin-bottom: .625rem; color: $blue; font-weight: 900; font-style: italic; line-height: 1; text-transform: uppercase; letter-spacing: .02em; }
      &__image img { width: 278px; height: 108px; }
      &__name { display: none; }
      &__link { margin-top: .75rem;
        a { color: $blue; font-weight: 900; font-style: italic; line-height: 1; text-transform: lowercase; letter-spacing: .02em; display: flex; align-items: center;
          img { width: 21px; height: 17px; margin-left: .625rem; flex: none; }
        }
      }
    }
    .program {
      &-preview { margin-bottom: 1.375rem;
        p { color: $darkGrey; font-weight: bold; font-size: 1.0625rem; line-height: 1.45; }
      }
      &-info {
        p {
          &:not(:first-child) { display: none; }
          &:not(:last-of-type) { margin-bottom: 1.25rem; }
        }

        &__link { margin-top: 1.25rem; display: flex; justify-content: center;
          a { color: $blue; font-weight: bold; font-size: .875rem; line-height: 1.7; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 4.625rem 2rem 9.75rem; }
    @media screen and (min-width: $desktopWidth) { padding-top: 22.75rem;
      .program-bg { position: absolute; left: 0px; top: 74px; width: 200%; display: flex; justify-content: space-around; z-index: -1; animation: marquee 20s linear infinite;
        &__image { position: absolute; left: 0; top: 0; width: 50%; display: flex; justify-content: space-around; align-items: center;
          &-2 { left: 50%; }

          img {
            &:nth-child(odd) { width: 421px; height: 164px; }
            &:nth-child(even) { width: 47px; height: 60px; }
            &:nth-child(4n) { transform: rotate(180deg); }
          }
        }

        @keyframes marquee {
          0% { left: 0; }
          100% { left: -100%; }
        }
      }
      .program-bunner { grid-column: 8 / 13; border-radius: 32px; margin: 2.5rem 0 0; padding: 4.5rem 4.625rem 5.125rem; background: $yellow; align-items: flex-start; align-self: flex-start; order: 2;
        &__title { margin-bottom: 1.25rem; font-weight: bold; font-size: 1.125rem; }
        &__image { display: none; }
        &__name { background: $logoGradient; background-clip: text; font-weight: 900; font-style: italic; font-size: 3.5rem; line-height: 1.1; display: block; -webkit-text-fill-color: transparent; }
        &__link { margin-top: 3rem;
          a { font-weight: bold; font-size: 1.5rem; align-items: flex-start;
            &:hover img { margin-left: 1.375rem; }

            img { width: 32px; height: 25px; margin-left: 1rem; transition: all .3s ease-out; }
          }
        }
      }
      .program { grid-column: 1 / 8; margin-right: 2rem; order: 1;
        &-preview { margin-bottom: 2.375rem;
          p { font-size: 1.5rem; line-height: 1.58; }
        }
        &-info { column-width: calc((100% - 2.625rem) / 2); column-count: 2; column-gap: 2.625rem;
          p:not(:first-child) { display: block; }

          &__link { display: none; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .program-bunner { padding: 4.5rem 7.625rem 5.125rem; }
    }
  }

  @media screen and (min-width: $desktopWidth) { border-radius: 0; margin: 0; background: transparent; }
}

#registry,
#registry-2 { border-radius: 18px; background: $registryGradient; overflow: hidden; @include z('registry');
  .container { padding: 3.625rem 1rem 5.25rem;
    .registry-bg { display: none; }
    .registry {

      &__title { margin-bottom: .5rem;
        h2, .h2 { color: $white; text-align: center; }
      }
      &__text { margin-bottom: 2.25rem;
        p { color: $snowWhite; text-align: center;
          a { color: $white; font-weight: bold; }
        }
      }

      &-form {
        &__line { flex-direction: column;
          &:not(:last-child) { margin-bottom: .75rem; }
        }
        &__column { display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: .75rem; }
        }
        &__button { margin-top: .75rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 9.75rem 2rem; }
    @media screen and (min-width: $desktopWidth) {
      .registry-bg { position: absolute; left: 0; top: 0; display: block; z-index: -1;
        &__left,
        &__right { position: relative;
          &::before,
          &::after { @include pseudo; border: 2px solid $paleGrey; border-radius: 50%; }
        }
        &__left {
          &::before { left: -610px; top: -619px; width: 1123px; height: 1123px; }
          &::after { left: -187px; top: 409px; width: 650px; height: 650px; }
        }
        &__right {
          &::before { left: 1493px; top: -201px; width: 540px; height: 540px; }
          &::after { left: 1453px; top: 213px; width: 1165px; height: 1165px; }
        }
      }
      .registry { grid-column: 4 / 10; margin: 0 -2rem;
        &__text { margin-bottom: 3.375rem;
          a:hover { color: $linkColor_hover; }
        }

        &-form {
          &__line { flex-direction: row;
            &:not(:last-child) { margin-bottom: 1.5rem; }
          }
          &__column { width: calc((100% - .75rem) / 2);
            &:not(:last-child) { margin: 0 .75rem 0 0; }
          }
          &__button { width: calc((100% - .75rem) / 2); margin-top: 2rem;
            .button a { width: 100%; min-height: 4rem; }
          }
        }
      }
    }
  }

  @media screen and (min-width: $desktopWidth) { border-radius: 64px 64px 0 0; }
}

#success,
#success-2 { display: none;
  .container { padding: 0 1rem;
    .success { border-radius: 18px; padding: 3.25rem 1rem; background: $registryGradient;
      &__info p { color: $white; font-weight: bold; font-size: 1.5rem; text-align: center; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 0 2rem;
      .success { padding: 5.25rem 2rem; }
    }
    @media screen and (min-width: $desktopWidth) {
      .success { border-radius: 64px;
        &__info p { font-size: 3rem; }
      }
    }
  }
}

#success-2 { margin-bottom: 2rem;
  @media screen and (min-width: $tabletWidth) { margin-bottom: 4rem; }
}

#experts {
  .container { padding: 4rem 1rem 2rem;
    .experts {
      &__title { margin-bottom: 2rem;
        h2, .h2 { text-align: center; }
      }

      &-list {
        &__item { width: auto; border-radius: 24px; background: $cardBackground; overflow: hidden; }
        &__image img { width: 288px; height: 288px; object-fit: cover; }
        &__icon { position: absolute; top: 16px; right: 16px;
          a { width: 48px; height: 48px; border-radius: 50%; background: $viewBackground; display: flex; justify-content: center; align-items: center;
            svg { width: 24px; height: 18px; flex: none; }
          }
        }
        &__name { padding: 1.5rem; color: $blue; font-weight: 600; font-size: 1.125rem; line-height: 1.45; word-wrap: break-word; }

        &-info { position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 2rem 1.5rem; background: $cardBackground; display: none;
          &__image { margin-bottom: 1rem;
            a { border-radius: 50%; overflow: hidden; display: inline-flex;
              img { width: 100px; height: 100px; object-fit: cover; }
            }
          }
          &__text p { color: $blue; font-size: 18px; line-height: 1.45;
            &:not(:last-child) { margin-bottom: .625rem; }
          }
        }
      }

      &__link { margin-top: 1.75rem; display: flex; justify-content: center;
        a { color: $expertsLinkColor; font-weight: 600; font-size: 1.125rem; line-height: 1.25; text-decoration: underline; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 9.75rem 2rem; }
    @media screen and (min-width: $desktopWidth) {
      .experts { position: relative;
        &__title { margin-bottom: 4rem; }

        &-list {
          &__image img { width: 100%; height: 392px; }
          &__name { padding-bottom: 2rem; font-weight: 500; font-size: 2rem; line-height: 1.25; }
        }

        &__link { position: absolute; top: 18px; right: 0; margin: 0; justify-content: flex-end;
          a:hover { color: $linkColor_hover; }
        }
      }
    }
  }
}

#top,
#news {
  .container { padding: 2rem 1rem 3.5rem;
    .news {
      &__title { margin-bottom: 2rem;
        h2, .h2 { text-align: center; }
      }

      &-list {
        &__item { border-radius: 18px; padding: 1rem; background: $viewBackground; display: flex; flex-direction: column; overflow: hidden;
          &::before { @include pseudo; left: -80px; bottom: -200px; width: 332px; height: 332px; background: $topBlur; filter: blur(130px); z-index: -1; }
        }
        &__image { flex: none;
          img { width: 100%; height: 240px; border-radius: 12px; object-fit: cover; overflow: hidden; }
        }
        &__info { margin-top: 1.25rem; }
        &__title { margin-bottom: .875rem;
          h3, .h3 { color: $white; }
        }
        &__text p { color: $topText;
          &:not(:last-child) { margin-bottom: .625rem; }
        }
        &__button { margin-top: 2.125rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2rem 2rem 9.75rem; }
    @media screen and (min-width: $desktopWidth) {
      .news {
        &__title { margin-bottom: 2rem; }

        &-list {
          &__item { width: auto; border-radius: 32px; padding: 1rem; flex-direction: row-reverse;
            &::before { left: -190px; bottom: -190px; width: 566px; height: 566px; background: $topBlur2; filter: blur(150px); }
          }
          &__image img { width: 560px; height: 496px; border-radius: 18px; }
          &__info { width: 520px; margin: 3.25rem 4rem 0 3rem; }
          &__title { margin-bottom: 1rem; }
          &__button { margin-top: 3rem; }
        }

        .swiper-button-prev,
        .swiper-rtl .swiper-button-next { top: 225px; }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev { top: 225px; right: -7px; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .news {
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev { right: 215px; }
      }
    }
  }
}

#integration { position: relative; border-radius: 18px; margin: 0 1rem; background: $integrationBackground;
  .container { padding: 1rem;
    .integration-image img { width: 100%; height: 240px; border-radius: 12px; object-fit: cover; overflow: hidden; }
    .integration { margin-top: -.75rem; display: flex; flex-direction: column;
      &-logo { display: none; }

      &__title { margin-bottom: .875rem; }
      &__text p:not(:last-child) { margin-bottom: .625rem; }
      &__button { margin-top: 2.125rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 1rem 2rem; }
    @media screen and (min-width: $desktopWidth) {
      .integration-image { grid-column: 7 / 13; order: 2;
        img { height: 496px; border-radius: 18px; }
      }
      .integration { grid-column: 1 / 7; margin: 2rem 2rem 2rem 0; order: 1;
        &-logo { margin-bottom: 1.5rem; display: flex; align-items: center;
          img { width: 48px; height: 48px; border-radius: 50%; margin-right: 1rem; flex: none; }
        }

        &__title { margin-bottom: 1rem; }
        &__button { margin-top: 3rem; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .integration-image { grid-column: 8 / 13; position: absolute; top: 1rem; right: 1rem;
        img { width: 818px; }
      }
      .integration { grid-column: 1 / 8; margin: 5rem 2rem 5rem 0; }
    }
  }

  @media screen and (min-width: $tabletWidth) { border-radius: 0; margin: 0; }
}

#forecast {
  .container { padding: 3.5rem 1rem 2.25rem;
    .forecast {
      &__title { margin-bottom: 2rem;
        h2, .h2 { text-align: center; }
      }

      &-list { margin-bottom: 1rem; display: flex; flex-direction: column; align-items: center;
        &__item { display: flex; align-items: center;
          &:not(:last-child) { margin-bottom: 1rem; }
        }
        &__graph { margin-right: 1.5rem; width: 16px; height: 16px; border-radius: 50%; background: $linkButton; }
        &__title { width: 136px; margin-right: 1.5rem; color: $forecastText; }
        &__percent { width: 56px; color: $forecastText; font-weight: 800; font-size: 1.5; line-height: 1.35; }
      }

      &-chart {
        &__item { display: flex; flex-direction: column;
          &:nth-child(1) {
            .forecast-chart__group:nth-child(1) .forecast-chart__decode { background: $pink; }
            .forecast-chart__group:nth-child(2) .forecast-chart__decode { background: $green; }
          }
          &:nth-child(2) {
            .forecast-chart__group:nth-child(1) .forecast-chart__decode { background: $flaxen; }
            .forecast-chart__group:nth-child(2) .forecast-chart__decode { background: $purple; }
          }
        }
        &__graph { display: flex; justify-content: center;
          img { width: 270px; height: 270px; flex: none; }
        }
        &__group { display: flex; align-items: center;
          &:not(:last-child) { margin-bottom: 1.25rem; }
        }
        &__decode { margin-right: 1.75rem; width: 36px; height: 36px; border-radius: 50%; flex: none; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 9.75rem 2rem 7.75rem;
      .forecast { display: flex; flex-wrap: wrap;
        &__title { width: 100%; }

        &-list { width: calc((100% - 2rem) / 2); margin: 0 2rem 0 0; justify-content: center; }
        &-chart { width: calc((100% - 2rem) / 2); }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .forecast {
        &__title { margin-bottom: 4rem; }

        &-list { width: auto; align-items: flex-start;
          &__item {
            &:nth-child(n + 2):nth-child(-n + 3) .forecast-list__graph { width: 120px; }
            &:nth-child(4) .forecast-list__graph { width: 360px; }
            &:nth-child(6) .forecast-list__graph { width: 300px; }
            &:nth-child(7) .forecast-list__graph { width: 25px; }
          }
          &__graph { width: 60px; height: 36px; border-radius: 18px; order: 2;
            img { width: 300px; height: 300px; }
          }
          &__title { width: 124px; text-align: right; order: 1; }
          &__percent { font-size: 2.25rem; order: 3; }
        }
        &-chart { width: auto; display: flex; flex-direction: column; justify-content: center;
          &__item { flex-direction: row; }
          &__info { width: 375px; display: flex; flex-direction: column; justify-content: center; }
          &__decode { margin-right: 2rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .forecast {
        &-list {
          &__item {
            &:nth-child(n + 2):nth-child(-n + 3) .forecast-list__graph { width: 200px; }
            &:nth-child(4) .forecast-list__graph { width: 560px; }
            &:nth-child(6) .forecast-list__graph { width: 500px; }
            &:nth-child(7) .forecast-list__graph { width: 40px; }
          }
          &__graph { width: 100px; }
        }
      }
    }
  }
}

#partners {
  .container { padding: 2rem 1rem 1.5rem;
    .partners {
      &__item {
        &:not(:last-child) { border-bottom: 1px solid $partnersBorder; margin-bottom: 1.5rem; padding-bottom: 1.5rem; }
        &.open {
          a svg { transform: rotate(180deg); }

          .partners-list { display: flex; }
        }

        a { color: $mainColor; font-weight: 600; display: flex; justify-content: space-between; align-items: center;
          svg { width: 12px; height: 6px; stroke: $darkGrey; }
        }
      }

      &-list { margin-top: 1rem; display: none; flex-wrap: wrap;
        &__logo { width: calc((100% - .5rem) / 2);
          &:nth-child(odd) { margin-right: .5rem; }
          &:nth-last-child(n + 3) { margin-bottom: .5rem; }

          a { border-radius: 16px; padding: .5rem; background: $cardBackground; display: flex; justify-content: center; align-items: center;
            img { width: 130px; height: 64px; flex: none; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2rem 2rem 7.75rem; }
    @media screen and (min-width: $desktopWidth) {
      .partners {
        &__item {
          &:not(:last-child) { margin-bottom: 1.75rem; padding-bottom: 1.75rem; }

          a { font-size: 1.5rem; line-height: 1.25;
            svg { width: 20px; height: 10px; }
          }
        }

        &-list { margin-top: 2.25rem; display: none; flex-wrap: wrap;
          &__logo { width: calc((100% - 4rem) / 5);
            &:nth-child(odd) { margin: 0; }
            &:nth-last-child(n + 3) { margin: 0; }
            &:not(:nth-child(5n)) { margin-right: 1rem; }
            &:nth-last-child(n + 6) { margin-bottom: 1rem; }

            a { padding: .75rem;
              img { width: 179px; height: 92px; }
            }
          }
        }
      }
    }
  }
}

#movie {
  .container { padding: 2rem 1rem 4.25rem;
    .movie {
      &__title { margin-bottom: 2rem;
        h2, .h2 { text-align: center; }
      }
      &__video { width: 100%; display: flex; justify-content: center;
        iframe { width: 100%; height: 196px; border-radius: 8px; flex: none; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2rem 2rem 9.75rem;
      .movie {
        &__video iframe { width: 768px; height: 381px; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .movie {
        &__title { margin-bottom: 4rem; }
        &__video iframe { width: 1376px; height: 683px; border-radius: 32px; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .movie {
        &__video iframe { width: 1600px; height: 794px; }
      }
    }
  }
}
