
/* Nav page */
#nav { background: $registryGradient; @include z('nav');
  .container { min-height: 100vh;
    .nav-bg { display: none; }
    .nav {
      &__title { margin-bottom: 3.75rem;
        h1, .h1 { color: $white; text-align: center; }
      }

      &-menu { margin-bottom: 1.625rem;
        li {
          &:not(:last-child) { margin-bottom: 1.625rem; }
          &:not(:first-child) a span { font-size: 2.5rem; }
          &:nth-child(2) a { background: $navGreen; }
          &:nth-child(3) a { background: $navPurple; }

          a { width: 100%; height: 88px; box-shadow: $navShadow; border-radius: 44px; padding: 1.25rem 2rem; background: $navBlue; color: $white; display: flex; align-items: center;
            svg { width: 82px; height: 44px; border-right: 1px solid $white; margin-right: 1.25rem; padding-right: 1.25rem; fill: $white; flex: none; }
            span { font-weight: 600; font-size: 1.5rem; line-height: 1.1; text-transform: lowercase; }
          }
        }
      }

      &__image { display: none; }
    }
    .nav-bunner { width: 334px; height: 334px; border-radius: 50%; margin: 0 auto; padding: 3.75rem 1.75rem 4.375rem; background: $registryGradient; display: flex; flex-direction: column; justify-content: space-between; align-self: flex-start;
      &__group { display: flex; flex-direction: column; align-items: center; }
      &__info { height: 1.875rem; border-radius: 15px; margin-bottom: .625rem; padding: .25rem 2rem .125rem; color: $white; font-weight: bold; font-size: .875rem; backdrop-filter: blur(85px); }
      &__date { color: $white; font-weight: 600; font-size: .875rem; line-height: 1.2; }
      &__title { margin-bottom: 1rem; color: $white; font-weight: bold; font-size: 1.875rem; line-height: 1.2; text-align: center; }
      &__text p { color: $white; text-align: center; }
    }

    @media screen and (min-width: $tabletWidth) {
      .nav {
        &__title h1, .h1 { font-size: 3rem; line-height: 1.37; }
        &-menu li { display: flex; justify-content: center;
          &:not(:first-child) a span { font-size: 4.25rem; }

          a { width: 580px; height: 160px; border-width: 2px; border-radius: 80px; padding: 2.5rem 3.75rem;
            svg { width: 148px; height: 80px; margin-right: 2.25rem; padding-right: 2.25rem; }
            span { font-size: 2.5rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .nav-bg { position: absolute; left: 0; top: 0; display: block; z-index: -1;
        &__left,
        &__right { position: relative;
          &::before,
          &::after { @include pseudo; border: 2px solid $paleGrey; border-radius: 50%; }
        }
        &__left {
          &::before { left: 96px; top: -86px; width: 650px; height: 650px; }
          &::after { left: -487px; top: 299px; width: 975px; height: 975px; }
        }
        &__right {
          &::before { left: 1286px; top: -206px; width: 1018px; height: 1018px; }
          &::after { left: 1296px; top: 454px; width: 540px; height: 540px; }
        }
      }
      .nav { display: flex; flex-wrap: wrap;
        &__title { width: 100%; margin-bottom: 1.375rem; }

        &-menu { width: 580px; display: flex; flex-direction: column; justify-content: center;
          li {
            &:not(:last-child) { margin-bottom: 3.75rem; }
            &:nth-child(1) a { background: $buttonGradient;
              &:hover { background: $navBlue; }
            }
            &:nth-child(2) a { background: $buttonGradient;
              &:hover { background: $navGreen; }
            }
            &:nth-child(3) a { background: $buttonGradient;
              &:hover { background: $navPurple; }
            }
          }
        }

        &__image { width: 796px; margin-right: -5.375rem; display: flex; align-items: center;
          img { width: 796px; height: 525px; }
        }
      }
      .nav-bunner { display: none; }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .nav {
        &__image { width: 1020px; margin-right: -5.375rem;
          img { width: 1106px; height: 730px; }
        }
      }
    }
  }
}
